<!DOCTYPE html>
<html>
	<head>
			<%- include ('./partials/head') %>
	</head>

	<div class="container-fluid ">

		<header>
			<%- include ('./partials/header') %>
		</header>

		<body>
		<a href="/register/doctor" class="btn btn-primary btn-lg" tabindex="-1" role="button">Register Doctor</a>

		<a href="/register/patient" class="btn btn-primary btn-lg" tabindex="-1" role="button" >Resgister Patient</a>

		<a href="/all-doctors" class="btn btn-primary btn-lg" tabindex="-1" role="button" >View List of Doctors</a>

		<a href="/all-patients" class="btn btn-primary btn-lg" tabindex="-1" role="button" >View List of Patients</a>



		</body>
		<footer>
		</footer>
		
	</div>
</html>